extend layout.pug

block page_scripts
	script!= pug_file

	+js("/js/exhibit-gallery.js")


block content
	-page_type = (typeof page_type == 'undefined') ? ajax_path : page_type

	+val("ajax-path", ajax_path)
	ul#letters
		each letter in 'abcdefghjiklmnopqrstuvwxyz'.split('')
			li.navbubble(data-letter=letter)= letter
	div#gallery-output(class=page_type)
