extend exhibit_layout.pug

block page_scripts
	script!= pug_file

	+js("/js/exhibit-gallery.js")


block content
	-page_type = (typeof page_type == 'undefined') ? ajax_path : page_type
	+val("ajax-path", ajax_path)

	h1#gallery-type= page_display_name
	div#search-filters
		ul.search-type
			-// stuff like 'all' or 'starting with...' goes here
	ul#letters
		each letter in 'abcdefghijklmnopqrstuvwxyz'.split('')
			li.navbubble(data-letter=letter)= letter
	div#gallery-output(class=page_type)
