extend layout.pug

block subheader
	section#nav-subheader
		span#logo-winterthur
		ul#exhibit-navmenu.dropdown-top
			li
				|Explore handwriting
				ul.dropdown-inner
					li
						+link("gallery/cutouts/phrase") Phrases
					li
						+link("gallery/cutouts/word") Words
					li
						+link("gallery/cutouts/letter") Letters
					li
						+link("browse-pagesets") Full Pages
