extends layout.pug

block page_scripts
	script(src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin)
	script(src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin)

	script(src="/js/file-overview.js")

block content
	div.toolbar
		select#file-chooser
			option(select="selected" disabled="disabled" value="") select a file...
	div
		div.sidebar.pane.left(style="float: left;")
			span left sidebar
		div.sidebar.pane.right(style="float: right;")
			span right sidebar

		div.pane
			div#transcription
			pre#debug
