extend layout.pug

block content
	.
		Need login credentials to one of our apps?
	ul
		li
			.
				If the domain name includes "<strong>tpen</strong>":
			br
			.
				This uses <strong>T-Pen credentials</strong>. There is no signup page for this yet, so contact the tech team.
		li
			.
				If the domain name includes "<strong>webtools</strong>":
			br
			.
				This uses <strong>our In-House Credentials</strong>, and there is a signup page for this set of credentials. The current page also uses these credentials, so you can check whether you're logged in by looking at the navbar on the top of this current page.
			br
			.
				If you are not logged in, click the 'login' link. Then, either enter your existing username+password if you have one (it's not recommended to share these); or if you don't have credentials yet, enter your desired username+password into the page and click 'create'. Additionally, if the access level you require is more-than-public, contact the tech team and tell them your username (*not* your password!) and they can adjust your access level.
