extends layout.pug

block content
	div
		h3 Metadata management
		p
			a(href="manage-metadata.html") manage metadata fields
			=" "
			a(href="update-file-metadata") add metadata to file
	div
		h3 in-development pages
		p
			ul
				li
					a(href="/file-overview") file overview
				li
					a(href="/concordance") Concordance
				li
					a(href="/dev-ui/images") tinkering with images
				li
					a(href="/image-slicing/classify-guesses") Word Image Classification
