extend exhibit_layout.pug

block content
	h3 Handwriting History collection: #{institution}
	p
		|The Richardson family letters span almost 250 years, and they represent a cross-section of English and American writing styles indicative of the times and places they were written. They are being hosted on the American Paleography site to promote learning about American writing styles and letterforms.
