include helpers.pug

html
	head
		title Paleographer's Toolkit (by American Paleography)
		block main_scripts
			link(type="text/css" href="css/custom-theme/jQuery.css" rel="Stylesheet")
			script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.js")
			script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.js")
			link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet")
			link(href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Cormorant+Garamond" rel="stylesheet")
			script(src="https://use.fontawesome.com/4ae676603d.js")

			if (!omit_style)
				link(type="text/css" href="/css/main.css" rel="Stylesheet")

		block page_scripts
	body
		section#navbar-header
			if institution
				span#exhibit-name
					a(href=base_path)= institution + " Exhibit"
			span#home-link
				a(href="/index") American Paleography
			ul#user-menu.dropdown-top
				li
					| Accounts
					ul.dropdown-inner
						if me.username
							li
								= `Username: ${me.username}`
							li
								a(href="/login") change user
						else
							li
								| No User. 
							li
								a(href="/login") Login?
		block subheader
		section.main(class=main_class)
			block content
		footer
