extends layout.pug

block page_scripts
	+js("/js/manage-polygon.js")

block content
	+val("poly_id", poly_id)
	p
		| Image:
		img(src=("/poly-images/" + poly_id))
	p
		| Text:
		pre=poly_text
	p
		| Full line:
		div.annotated_line
			=annotated.before
			span.highlight_transcription
				=annotated.mid
			=annotated.after
	p
		| File:
		pre=file_text
	p
		button#delete-polygon Delete Polygon
