extends layout.pug

block page_scripts
	script(src="/js/todo-list.js")

block content
	ul
		each rank in [1,2, 3, 4]
			li
				strong= rank
				ul
					each entry in features.filter(f => !isNaN(f.order) && f.order == rank)
						li
							if entry.fields.Implemented
								strike= entry.fields.Name
							else
								=entry.fields.Name
							span.spacer(style="margin-left: 3em;")
							button.resolve(data-id=entry.id) resolve
		li
			strong= "uncategorized"
			ul
				each entry in features.filter(f => isNaN(f.order))
					li
						=entry.fields.Name

