section {
	border-bottom: 1px solid grey;
}

.draggable {
	z-index: 1;
	background: rgba(255, 255, 255, 0.94);
}

.sidebar {
	border: 1px solid black;
	margin: auto;
	min-height: 100%;
	padding: 0 1em;
}
#classifier .sidebar {
	width: 300px;
	float: left;
}
#classifier .rightbar {
	width: 300px;
	height: 90%;
	float: right;
	overflow: auto;
}
#current-page-image {
	max-width: 400%;
}

.pane {
	max-height: 100%;
	overflow-y: auto;
}

.left {
	float: left;
}
.right {
	float: right;
}

#side-toolbar {
	float: left;
}
#concordance-output {
	height: 90%;
	overflow-y: scroll;
}


#classifier #main-image {
	max-height: 90%;
	max-width: 90%;
}

.trans-word {
	text-align: center;
}

#classifier table.image-grid,
table.bordered
{
	border-collapse: collapse;
}
#classifier table.image-grid td,
table.bordered td
{
	border: double grey;
	padding: 1em;
}
#classifier table.image-grid td input {
	text-align: center;
}

#classifier #output {
	height: 95%;
}
.classifier-output-pane {
	height: 90%;
	overflow-y: scroll;
}

.selected-line {
	font-weight: bold;
}
#line-list {
	list-style-type: decimal;
}


.embed-pane {
	width: 90%;
	height: 100vh;
	border: 1px dashed blue;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
	padding: 4px;
}

.pos-holder {
	position: relative;
}

.layered-canvas{
    position: absolute;
    top: 0px;
    left: 0px;
}
