#tools {
	width: 400px;
}

.draggable {
	padding: 1em;
	border-radius: 10px;
	border: 1px dashed black;
}

#current-text {
	font-size: 150%;
	color: black;
}

.infobox {
	background-color: #ffb;
	color: chocolate;
}

.already-cut {
	color: #aaa;
}
