#tools {
	width: 400px;
}

#word-image-holder {
	display: inline-block;
}

#same-word-images .imagebox {
	max-width: 400px;
	max-height: 400px;
	overflow: auto;
}
#same-word-images .imagebox img {
	max-width: 180px;
}

.draggable {
	padding: 1em;
	border-radius: 10px;
	border: 1px dashed black;
}

#current-text {
	font-size: 150%;
	color: black;
}

.infobox {
	background-color: #ffb;
	color: chocolate;
}

.already-cut {
	color: #aaa;
}
