extends ../layout.pug

block page_scripts
	link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
	script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")

	link(rel="stylesheet" href="/css/polygon-cutter.css")
	+js("/js/render-images.js")
	+js("/js/poly-text-editing.js")
	+js("/js/image-details-manip.js")

block content
	div#cutter(style="display: none;")
		="POLYGON CUTTER:"
		div#tools.draggable
			p
				span#file_id_readout
			p
				button#init-cutter(disabled="disabled") Initialize polygon cutting tool
				button#save-polygon(disabled="disabled") Save current polygon
				button#undo-segment(disabled="disabled") Undo last point/stroke
			p
				| Notes:
				br
				textarea(name="notes" rows=3 style="width: 100%")
			include ../text-selector-area.pug
		span.infobox.draggable
			="text: "
			span#current-text
		div
			div.infobox.draggable#word-image-holder
				="images:"
				p#same-word-images
		div(style="display: none;")
			canvas#output-canvas
			canvas#buffer(style="display: none;")
		div
			canvas.layered-canvas#bg-canvas
			canvas.layered-canvas#ui-overlay

	div#source-image(style="display: none;")
		="ORIGINAL IMAGE:"
		div.pos-holder
			img#source.layered-canvas(src=`http://image-store.tpen-demo.americanpaleography.org/${proj}/${page}` crossorigin="Anonymous")
