extends ../layout.pug

block page_scripts
	script(src="/js/render-images.js")
	script(src="/js/image-details-manip.js")

block content
	div#cutter
		="POLYGON CUTTER:"
		p
			button#init-cutter Initialize polygon cutting tool
			button#do-subimage-cut Load current polygon as new source image
			button#test-cut test
		div
			canvas#output-canvas
			canvas#buffer(style="display: none;")
		div.pos-holder
			canvas.layered-canvas#bg-canvas
			canvas.layered-canvas#ui-overlay

	div#source-image
		="ORIGINAL IMAGE:"
		div.pos-holder
			img#source.layered-canvas(src=`http://image-store.tpen-demo.americanpaleography.org/${proj}/${page}` crossorigin="Anonymous")
