extends ../layout.pug

block page_scripts
	script(src="/js/render-images.js")
	script(src="/js/image-details-manip.js")

block content
	div#cutter(style="display: none;")
		="POLYGON CUTTER:"
		p
			span#file_id_readout
		p
			button#init-cutter(disabled="disabled") Initialize polygon cutting tool
			button#save-polygon(disabled="disabled") Save current polygon
			button#undo-segment(disabled="disabled") Undo last point/stroke
		p
			="(these buttons in development)"
			button#do-subimage-cut(disabled="disabled") Load current polygon as new source image
			button#test-cut(disabled="disabled") test
		div
			canvas#output-canvas
			canvas#buffer(style="display: none;")
		pre#line-output
			="testing"
		div.embed-pane
			div.pos-holder
				canvas.layered-canvas#bg-canvas
				canvas.layered-canvas#ui-overlay

	div#source-image
		="ORIGINAL IMAGE:"
		div.pos-holder
			img#source.layered-canvas(src=`http://image-store.tpen-demo.americanpaleography.org/${proj}/${page}` crossorigin="Anonymous")
